@font-face {
  font-family: "Filmstrip";
  src: url("./Fonts/Movie\ Filmstrip.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  background-color: #273469;
  color: #1e2749;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  text-align: center;
}

/* IM-DB */

.logo {
  font-family: filmstrip;
  font-weight: 400;
  width: 100%;
  margin: 0 auto;
  padding-top: 6rem;
  text-align: center;
  color: #f5f5f5;
  font-size: 10rem;
}

#db {
  color: #e4d9ff;
}

/* Search bar */
.search-wrapper {
  width: 80%;
  max-width: 31.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
  padding-top: 6rem;
}

.label {
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

/* Cards */
/* .user-cards {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 2rem 0;
} */

.user-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 10rem;
  margin: 2rem auto;
  background-color: #fafbfb;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  padding: 3rem;
  overflow: hidden;
  /*  border: 0.25rem solid #405c73; */
}

.thumbnail {
  object-fit: cover;
  border-radius: 0.625rem;
  margin: 0 auto;
  max-width: 100%;
}

/* Ui Elements */
button {
  width: 100%;
  height: 2.8rem;
  background: #1e2749;
  color: #fff;
  border: none;
  border-radius: 1.625rem;
  font-size: 1rem;
  margin-top: 1rem;
  outline: none;
  margin-bottom: 1rem;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}
