@font-face {
  font-family: "Filmstrip";
  src: url("./Fonts/Movie\ Filmstrip.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  background-color: #273469;
  color: #1e2749;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  text-align: center;
}

/* IM-DB */

.logo {
  font-family: filmstrip;
  font-weight: 400;
  width: 100%;
  margin: 0 auto;
  padding-top: 6rem;
  text-align: center;
  color: #f5f5f5;
  font-size: 10rem;
}

#db {
  color: #e4d9ff;
}

/* Search bar */
.search-wrapper {
  width: 80%;
  max-width: 31.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
  padding-top: 6rem;
}

.label {
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

/* Cards */
/* .user-cards {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 2rem 0;
} */

.user-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 10rem;
  margin: 2rem auto;
  background-color: #fafbfb;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  padding: 3rem;
  overflow: hidden;
  /*  border: 0.25rem solid #405c73; */
}

.info {
  display: none;
}

@media screen and (max-width: 1350px) {
  .card {
    font-size: 0.5rem;
    max-width: 7rem;
  }

  .favourite-button {
    font-size: 0.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 1050px) {
  .card {
    font-size: 0.5rem;
    max-width: 5rem;
  }

  .favourite-button {
    font-size: 0.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 390px) {
  .card {
    font-size: 0.25rem;
    max-width: 5rem;
    padding: 1rem;
  }

  .favourite-button {
    font-size: 0.5rem;
    height: 1.5rem;
  }
}

.thumbnail {
  object-fit: cover;
  border-radius: 0.625rem;
  margin: 0 auto;
  max-width: 100%;
}

/* Ui Elements */
button {
  width: 100%;
  height: 2.8rem;
  background: #1e2749;
  color: #fff;
  border: none;
  border-radius: 1.625rem;
  font-size: 1rem;
  margin-top: 1rem;
  outline: none;
  margin-bottom: 1rem;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

/* Filters */

.filters {
  display: flex;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
}

select {
  width: 10rem;
  height: 2.8rem;
  background: #f5f5f5;
  border: none;
  border-radius: 1.625rem;
  font-size: 1rem;
  margin: 0 1rem;
  outline: none;
  padding-left: 1rem;
}

/* Favoritt Hjerte */
#heart-svg {
  cursor: pointer;
  overflow: visible;
  width: 60px;
  margin: 20px;
}

svg #heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}

svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

.checkbox {
  display: none;
}

.checkbox:checked + label svg #heart {
  transform: scale(0.2);
  fill: #e2264d;
  animation: animateHeart 0.3s linear forwards 0.25s;
}

.checkbox:checked + label svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}

.checkbox:checked + label svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.checkbox:checked + label svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.checkbox:checked + label svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.checkbox:checked + label svg #grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.checkbox:checked + label svg #grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #dd4688;
  }
  55% {
    transform: scale(11);
    opacity: 1;
    fill: #d46abf;
  }
  65% {
    transform: scale(12);
    opacity: 1;
    fill: #cc8ef5;
  }
  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.5;
  }
  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.2;
  }
  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0.1;
  }
  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #cc8ef5;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

/* Kort Full Skjerm */
/* Kortet skal ta hele skjermen */

/* .full-card.card {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);ß
  flex-direction: row;
} */

.full-card.card {
  display: block;
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: white;
  border-radius: 0;
  padding: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  /*  border: 0.25rem solid #405c73; */
  transition: 0.3s;
}

.full-card .thumbnail {
  object-fit: contain;
}

.full-card .info {
  display: flex !important;
}

.item-1 {
  text-decoration: none;
  border: 0;
  background-color: transparent;
  height: 50px;
  .inner {
    display: block;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    &:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 50px;
      background-color: #fff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: ease-out 0.2s all;
    }
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 50px;
      background-color: #fff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: ease-out 0.2s all;
    }
  }
  .label {
    color: #fff;
    opacity: 0;
    transition: all 0.2s ease-out;
  }
  &:hover,
  &:focus {
    .inner {
      &:before {
        transform: translate(-50%, 0%) rotate(0);
        top: 25%;
      }
      &:after {
        transform: translate(-50%, 0%) rotate(0);
        top: 76%;
      }
    }
    .label {
      opacity: 1;
    }
  }
}
